body {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.active {
  text-decoration: underline !important;
  text-decoration-thickness: 5px !important;
}

.pointer {
  cursor: pointer;
}

.cart-button {
  border-radius: 12px !important;
  margin: 2px;
  padding-bottom: 2px !important;
}

.hoverable:hover {
  border-right: 5px solid #0d6efd;
  border-bottom: 5px solid #0d6efd;
  border-radius: 12px;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.form-control {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
